@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Foldit:wght@100..900&family=League+Spartan:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'League Spartan', sans-serif;
  font-weight: 300;
}

:root {
  --bg: #eee1e0;
  --light: #fff9f5;
  --grey: #888;
  --dark: #333;
}

.logo {
  font-family: 'Foldit', sans-serif;
  font-size: 30px;
  font-weight: 500;
  padding: 4px 8px;
  border: 1px solid var(--dark);
  border-radius: 10px;
  background-color: var(--light);
  
}