@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=League+Spartan:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'League Spartan', sans-serif;
  font-weight: 300;
}

:root {
  --primary: #0d7680;
  --secondary: #f2dfce;
  --lace: #fff1e0;
  --floral: #fff9f5;
  --dark: #111;
}