@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sriracha&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  background-color: #fff;
}

.logo {
  font-family: 'Sriracha', sans-serif;
  font-size: 30px;   
}

select {
  appearance: none;       
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
}

select::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

a, button, .label {
  transition: all 0.5s ease-in-out;
}

.hover-transition {
  transition: all 0.5s ease-in-out;
}

.just-between {
  @apply flex justify-between items-center;
}

.centre {
  @apply flex justify-center items-center;
}

.selector {
  @apply px-4 py-2 rounded-md border border-grey-medium focus:border-grey-dark hover-transition;
}
.search-bar {
  @apply h-10 rounded-md border border-grey-medium outline-0 focus:border-grey-dark bg-light hover-transition;
}

.table-wrapper {
  @apply w-full table-auto bg-grey-light-extra shadow-lg rounded-md overflow-hidden;
}

.table-header {
  @apply text-primary uppercase text-sm;
}

.badge {
  @apply px-3 py-1 bg-primary text-light rounded-md text-xs font-medium uppercase;
}

.icon-hover {
  @apply p-2 bg-grey-light-extra text-primary rounded-full hover:bg-primary-light hover-transition;
}

.arrow {
  @apply w-6 h-6 text-grey-dark cursor-pointer hover:text-primary hover-transition;
}